@import "tailwindcss";
:root {
  --dark-color: #210002; /* Rojo muy oscuro */
}
.wrapper {
  height: 200px;
  width: 300px;
  background-color: #b22222; /* Rojo ladrillo */
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.lid {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-right: 150px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 150px solid transparent;
  transform-origin: top;
  transition: transform 0.25s linear;
}

/* Lid when closed */
.lid.one {
  border-top: 100px solid #e63946; /* Rojo coral */
  transform: rotateX(0deg);
  z-index: 3;
  transition-delay: 0.75s;
}

/* Lid when opened */
.lid.two {
  border-top: 100px solid #b22222; /* Rojo ladrillo */
  transform: rotateX(90deg);
  z-index: 1;
  transition-delay: 0.5s;
}

.envelope {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-top: 100px solid transparent;
  border-right: 150px solid #ffb3b3; /* Rojo pastel claro */
  border-bottom: 100px solid #ffb3b3;
  border-left: 150px solid #ff7f7f; /* Rojo suave */
  z-index: 3;
}

.letter p {
  text-align: center;
  font-size: 30px;
  color: #5a0000; /* Rojo vino oscuro */
}

.wrapper:hover .lid.one {
  transform: rotateX(90deg);
  transition-delay: 0s;
}

.wrapper:hover .lid.two {
  transform: rotateX(180deg);
  transition-delay: 0.25s;
}

.wrapper:hover .letter {
  animation: levantar 2s ease-in-out 0.5s forwards;
}

@keyframes levantar {
  0% {
    transform: translateY(0) scale(1);
  }

  25% {
    transform: translateY(-200px);
  }

  50% {
    transform: translateY(0);
    z-index: 3;
  }

  100% {
    z-index: 3;
  }
}
